# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 200
b = 200
equal_values = a = b
equal_memory = a is b
print("Values are equal: ",equal_values)
print("Memory is equal: ",equal_memory)

Values are equal:  200
Memory is equal:  True

*місце для текстової відповіді

У Python цілі числа в діапазоні від -5 до 256 зарезервовані. Тому якщо дві змінні мають однакове значення, то вони посилаються на один і той самий об'єкт в пам'яті, тобто мають однакове id

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
a = 240
isinstance(a, int)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
first = 6
second = 2.5
sum = first + second
subtraction = first - second
division = first/second
multiplication = first*second
div = first//second
mod_division = first%second
degree = second**first
print(f"Додавання: {sum}")
print(f"Віднімання: {subtraction}")
print(f"Ділення: {division}")
print(f"Множення: {multiplication}")
print(f"Ділення без залишку: {div}")
print(f"Ділення по модулю: {mod_division}")
print(f"Приведення до ступеню: {degree}")

Додавання: 8.5
Віднімання: 3.5
Ділення: 2.4
Множення: 15.0
Ділення без залишку: 2.0
Ділення по модулю: 1.0
Приведення до ступеню: 244.140625

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [8]:
int(second)

2

In [9]:
my_variable = True
int(my_variable)

1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [10]:
empty_str1 = ''
empty_str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [44]:
string = "\'"
raw_string = r"\'"
print("Рядок з апострофом: ", string)
print("Сирий рядок з апострофом: ", raw_string)

Рядок з апострофом:  '
Сирий рядок з апострофом:  \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [14]:
my_surname = "Bohun"
format_name = f"My surname is {my_surname}"
print(format_name)

My surname is Bohun

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [16]:
original_str = "My dog is crazy."
my_list = original_str.lower().split()
print(my_list)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [18]:
my_first_list = [1, 2, 3]
my_second_list = list((4, 5, 6, 7, 8))
print(len(my_second_list))

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [20]:
first_list = [0, 12, 98]
second_list = [22, 56, 101]
first_list.append(second_list)
print(first_list)

[0, 12, 98, [22, 56, 101]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [22]:
inner_list = [['doll', 'parrot', 4], [31, 'lullaby', 'song'], ['apple', 'carrot', 'cherry']]
last_list = inner_list[-1]
first_el_in_last_list = last_list[0]
print(first_el_in_last_list)

apple

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [24]:
new_list = [1, 2.5, True, 'apple', [1, 2], ('juice', 22), {1, 2, 3, 4}, {'Ukraine': 'Kyiv', 'Spain': 'Madrid'}, (2+8j)]
filtered_list = new_list[2: -2]
print(filtered_list)

[True, 'apple', [1, 2], ('juice', 22), {1, 2, 3, 4}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_tuple = tuple(1)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

Як до елементів списку, так і до елементів кортежу можна доступитися через квадратні дужки. Обидва є ітерабельними. Проте на відміну від списку, кортеж є незмінним (immutable). Списки є повільнішими за кортежі

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [25]:
my_new_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 0.7)
result_tuple = my_new_tuple[::-2]
print(result_tuple)

(0.7, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
empty_set = set()
empty_set.add(2, 'orange')

*місце для текстової відповіді

Так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [28]:
my_list1 = [1, 1, 2, 67, 67, 8, 9]
new_set = set(my_list1)
print(new_set)

{1, 2, 67, 8, 9}

*місце для текстової відповіді

Деякі елементи зникли, бо в пайтоні множина є набором унікальних значень

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [32]:
A = {1, 2, 3, 4}
B = {1, 7, 6, 3, 11}
union = A.union(B)
difference = A.difference(B)
intersection = A.intersection(B)
symmetric_difference = A.symmetric_difference(B)
print(union, difference, intersection, symmetric_difference)

{1, 2, 3, 4, 6, 7, 11} {2, 4} {1, 3} {2, 4, 6, 7, 11}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [41]:
my_dictionary = {}
my_dictionary[7] = 'integer'
my_dictionary[4.5] = 'float'
my_dictionary['love'] = 69
my_dictionary[True] = 1
print(my_dictionary)

{7: 'integer', 4.5: 'float', 'love': 69, True: 1}

*місце для текстової відповіді

Список не може бути ключем через його mutable характер. Отримаємо помилку TypeError

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [42]:
new_dict = {
    33 : 'integer',
    1984 : {
        'Published in': '1949',
        'author': {
            'George Orwell':'Eric Arthur Blair'
        }
    },
     'Capital of Ukraine':'Kyiv'
}
inner_value = new_dict[1984]['author']['George Orwell']
print(inner_value)

Eric Arthur Blair

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.